body {
    background-color: #fafafa;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.title h1 {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  ul.title img {
    text-align: center;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: rgb(255, 0, 0);
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #000000;
  }
  h2.PhotosHeader {
    text-align: center;
  }
  .comtainer {
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  img {
    margin: 5px;
    transition: all 2s;
    flex-basis: 49%;
    max-height: 49vh;
    align-self: center;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 49%;
    align-items: center;
    overflow: hidden;
  }

  .item:hover{
    transform: scale(1.1);
  }

  .AHAlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .ClassIMG {
    content: "";
    display: block;
    width: 300;
    height: 300;
    padding-right: 50px;
    float: left;
  }